<div class="widgets">
  <ba-card title="Basic Example" baCardClass="with-scroll" class="data-table-container">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <label class="col-sm-12 label-control">Sort by</label>
        </div>
        <div class="row">
          <div class="offset-sm-1 col-sm-5">
            <div class="row">
              <select class="form-control input-sm" [(ngModel)]="sortBy" (ngModelChange)="getUsersList()">
                            <option ngValue="firstName">Name</option>
                            <option ngValue="emailId">Email</option>
                            <option ngValue="createdOn">Created On</option>
                        </select>
            </div>
          </div>
          <div class="offset-sm-1 col-sm-5">
            <div class="row">
              <select class="form-control input-sm" [(ngModel)]="sortOrder" (ngModelChange)="getUsersList()">
                            <option ngValue="asc">Ascending</option>
                            <option ngValue="desc">Descending</option>
                        </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="5">
              <h6 class="text-center"> Filter By Name</h6>
              <input class="form-control" [(ngModel)]="searchData" (ngModelChange)="getUsersList()" />
            </th>
          </tr>
          <tr *ngIf="totalElements==0">No User!</tr>
          <tr *ngIf="totalElements!=0">
            <th style="width: 10%"></th>
            <th style="width: 20%">Name</th>
            <th style="width: 40%">Email</th>
            <th style="width: 10%">Enabled</th>
            <th style="width: 20%">Created On</th>
          </tr>

        </thead>
        <tbody *ngIf="totalElements!=0">
          <tr *ngFor="let item of data | paginate: { itemsPerPage: pageSize,
                                                     currentPage: currentPage,
                                                     totalItems: totalElements }">
            <td>
              <button (click)="userDeatils(item.userId)" class="btn btn-danger">U-Detail</button>
            </td>
            <td>{{item.firstName}} {{item.middleName}} {{item.lastName}}</td>
            <td>{{item.emailId}}</td>
            <td>{{item.isEnabled}}</td>
            <td>{{item.createdOn | date}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <div class="pull-right show-entry-txt">Showing {{start}} to {{end}} of {{totalElements}} entries</div>
              <pagination-controls (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Vishal" screenReaderPageLabel="Kumar" screenReaderCurrentLabel="Rajput"></pagination-controls>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </ba-card>
</div>
