<div class="widgets">
  <div class="row">
    <div class="col-md-12 UserDetail">
      <ba-card cardTitle="Notification Details" activePageTitle="Notification">
        <p-tabView>

          <div class="tab-inner">
            <div class="tab-inner1">
              <div class="table-responsive">
      <table class="table table-striped">
         <thead>
            <tr>
               <th>Sender Name</th>
               <th>Email</th>
               <th>Receiver</th>
               <th>Message</th>
               <th>Date</th>
              
            </tr>
            </thead>
            <tbody>
            <tr  class="table-content-font" *ngFor='let notifyData of messagedata;'>
               <td>{{notifyData.sender.fullName}}</td>
               <td>{{notifyData.sender.emailId}}</td>
               <td>{{notifyData.receiver.firstName}}</td>
               <td>{{notifyData.message}}</td>
               <td>{{notifyData.createdOn | date }}</td>
             </tr>
            </tbody>
      </table>
      </div>
              <!-- <div class="">
                <ul>
                  <li *ngFor='let notifyData of messagedata;'>{{notifyData.message}}</li>
                </ul>
              </div> -->
            </div>
          </div>
        </p-tabView>
      </ba-card>
    </div>
  </div>
</div>
