.border-Box{
        width: 540px;
    margin: 0 auto;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.55);
    color: black;
    background: #fff;
    padding: 32px;
    box-shadow: 2px 1px 6px 3px;
}

.box-Position{
 text-align: center;
    margin-top: 131px;
}

.leval-margin{
    padding-right: 429px;
}
.submit-button{
        border-width: 1px;
    color: #fff;
    background: #c50808;
    border-color: #c50808;
    padding: 8px 80px;
    border-radius: 5px;
    box-shadow: none;
    -webkit-transform: scale(1);
    transform: scale(1);
    margin-top: 16px;
    // margin-left: -82px;
}
.leval-margin-confirm{
    padding-right: 364px;
}
.inputBox{
        color: #333;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: none;
    font-size: 14px;
}