<div class="widgets">
  <div class="row">
    <div class="col-md-12 UserDetail">
      <ba-card cardTitle="Set Value">
        <p-tabView>
          <p-tabPanel header="Set Value" style="padding:0px;">
            <div class="tab-inner">
              <div class="tab-inner1">
                <section>
                  <!-- for setValue  -->
                  <div class="margin-form">
                    <form #setNGNForm=ngForm (submit)="setBLNNGN(setNGNForm)">

                      <div class="row input_margin">
                        <div class="col-sm-4 text-right padding-level">
                          BLN ~ USD :
                        </div>
                        <div class="col-sm-8  input-div-padding">
                          <input type="text" class="input-padding" name="usdAmount" [ngModel]="priceBLNUSD" [disabled]=true>

                        </div>

                      </div>
                      <div class="row input_margin">
                        <div class="col-sm-4 text-right padding-level">
                          BLN ~ NGN :
                        </div>
                        <div class="col-sm-8 input-div-padding">
                          <input type="text" class="input-padding" name="ngnAmount" [(ngModel)]="priceBLNNGN" #ngnAmount="ngModel" required>
                          <span *ngIf="ngnAmount.invalid && setNGNForm.submitted">
                              <p class="red-text-color error-message-font" *ngIf="ngnAmount.errors.required">Please enter address</p>
                          </span>
                        </div>

                        <div class="col-sm-12 text-center marginButton">
                          <button class="btn btn-danger" type="submit">Set Value</button>
                        </div>
                      </div>

                    </form>
                  </div>

                </section>
              </div>
            </div>


          </p-tabPanel>
        </p-tabView>
      </ba-card>
    </div>
  </div>
</div>
