button.btn.btn-danger:hover, button.btn.btn-danger:focus, button.btn.btn-danger.focus, button.btn.btn-danger:active, button.btn.btn-danger.active{
   border-color: #f95372 !important;
   background-color: #f95372 !important;
   box-shadow: none;
}
.ui-tabview .ui-tabview-nav li .ui-tabview-left-icon, .ui-tabview .ui-tabview-nav li .ui-tabview-right-icon, .ui-tabview .ui-tabview-nav li .ui-tabview-title {  
      vertical-align: middle;   
       color: black  !important;
       cursor:pointer;}