.UserDetail .ui-tabview.ui-tabview-top>.ui-tabview-nav{
    padding: 0px;
}
.UserDetail .tab-inner{
    padding: 12px 12px;
    border: 1px solid #ccc;
    margin: -14px -12px;
    background: #f6f7f9;
}
.UserDetail .ui-tabview .ui-tabview-panel{
    padding:0px;
}
 .ui-tabview-panel{
    display: block;
    border: 1px solid #ccc;
    margin: 0px 2px;
}

.img-padding{
        padding-top: 71px;
}
img{
    width: 100%;
    height: auto;
    border: 3px solid;
    border-radius: 3px;
    border-style: double;
}
.tab-inner1{
    border: 1px solid #ccc;
    padding: 26px 10px;
    background: #fff;
}
.actionBtn{
    padding-bottom: 20px;
}
textarea.form-control {
    
    margin: 0px;
}
button.btn.btn-primary.btn-with-icon {
    margin-left: 10px;
    margin-top: 19px;
}

