<div class="widgets">
   <div class="row">
      <div class="col-md-12 UserDetail">
         <ba-card cardTitle="Details">
            <p-tabView>
               <p-tabPanel header="DisputeDetails" style="padding:0px;">
                  <div class="tab-inner">
                     <div class="tab-inner1">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="col-sm-10">
                              <div>
                              <h2>Buyer</h2>
                              </div>
                                 <!--<div class="form-group">
                                    <textarea class="form-control" placeholder="Message"></textarea>
                                 </div>-->
                                 <form>
                                 <div class="form-group">
                                    <label for="inputFirstName">Email</label>
                                    <!--<input class="form-control"   id="inputFirstName" placeholder="First Name" type="text" disabled>-->
                                    <input class="form-control" name="email"  id="inputEmail" placeholder="Email" [(ngModel)]="buyerEmail" type="text" [disabled]=true>
                                 </div>
                                 <div class="form-group">
                                    <label for="inputFirstName">First Name</label>
                                    <!--<input class="form-control"   id="inputFirstName" placeholder="First Name" type="text" disabled>-->
                                    <input class="form-control" name="name"  id="inputFirstName" placeholder="Name" [(ngModel)]="buyerName" type="text" [disabled]=true>
                                 </div>
                                 <div class="form-group">
                                    <label for="inputFirstName">Mobile No</label>
                                    <!--<input class="form-control"   id="inputFirstName" placeholder="First Name" type="text" disabled>-->
                                    <input class="form-control" name="mobile"  id="inputMobole" placeholder="Mobile No" [(ngModel)]="buyerMobileNo" type="tel" [disabled]=true>
                                 </div>
                                 <div class="form-group">
                                    <label for="inputFirstName">Comment</label>
                                    <!--<input class="form-control"   id="inputFirstName" placeholder="First Name" type="text" disabled>-->
                                    <textarea class="form-control" name="comment"  id="inputMobole" placeholder="Comment" [(ngModel)]="buyerComment" [disabled]=true></textarea>
                                 </div>
                               </form>
                                 <div>

                              <h2>Seller</h2>
                              </div>
                                 <!--<div class="form-group">
                                    <textarea class="form-control" placeholder="Message"></textarea>
                                 </div>-->
                                 <form>
                                 <div class="form-group">
                                    <label for="inputFirstName">Email</label>
                                    <!--<input class="form-control"   id="inputFirstName" placeholder="First Name" type="text" disabled>-->
                                    <input class="form-control" name="email"  id="inputEmail" placeholder="Email" [(ngModel)]="sellerEmail" type="text" [disabled]=true>
                                 </div>
                                 <div class="form-group">
                                    <label for="inputFirstName">First Name</label>
                                    <!--<input class="form-control"   id="inputFirstName" placeholder="First Name" type="text" disabled>-->
                                    <input class="form-control" name="name"  id="inputFirstName" placeholder="First Name" [(ngModel)]="sellerName" type="text" [disabled]=true>
                                 </div>
                                 <div class="form-group">
                                    <label for="inputMobole">Mobile No</label>
                                    <!--<input class="form-control"   id="inputFirstName" placeholder="First Name" type="text" disabled>-->
                                    <input class="form-control" name="mobile"  id="inputMobole" placeholder="Mobile No" [(ngModel)]="sellerMobileNo" type="tel" [disabled]=true>
                                 </div>
                                 <div class="form-group">
                                    <label for="inputMobole">Comment</label>
                                    <!--<input class="form-control"   id="inputFirstName" placeholder="First Name" type="text" disabled>-->
                                    <textarea class="form-control" name="comment"  id="inputMobole" placeholder="Comment" [(ngModel)]="sellerComment" [disabled]=true></textarea>
                                 </div>
                               </form>
                              <div>
                              <h2>Order Summery</h2>
                              </div>
                                 <!--<div class="form-group">
                                    <textarea class="form-control" placeholder="Message"></textarea>
                                 </div>-->
                                 <div class="form-group">
                                    <label for="inputOrderId">Order Id</label>
                                    <!--<input class="form-control"   id="inputFirstName" placeholder="First Name" type="text" disabled>-->
                                    <input class="form-control" name="id"  id="inputid" placeholder="Order Id" [(ngModel)]="orderId" type="text" [disabled]=true>
                                 </div>
                                 <div class="form-group">
                                    <label for="inputFirsCurrentpair">Currency Pair</label>
                                    <!--<input class="form-control"   id="inputFirstName" placeholder="First Name" type="text" disabled>-->
                                    <input class="form-control" name="pair"  id="inputpair" placeholder="Current pair price" [(ngModel)]="pairName" type="text" [disabled]=true >
                                 </div>
                                 <div class="form-group">
                                    <label for="inputwalletaddress">Order Volume</label>
                                    <!--<input class="form-control"   id="inputFirstName" placeholder="First Name" type="text" disabled>-->
                                    <input class="form-control" name="volume" id="inputwalletaddress" placeholder="Walllet Address" [(ngModel)]="orderVolume" type="tel" [disabled]=true >
                                 </div>
                                 <div class="form-group">
                                    <label for="inputDisputedetails">Order Price (per unit)</label>
                                    <!--<input class="form-control"   id="inputFirstName" placeholder="First Name" type="text" disabled>-->
                                    <input class="form-control" name="pricePerUnit" id="inputDisputedetails" placeholder="Dispute Details" [(ngModel)]="orderPrice" type="tel" [disabled]=true >
                                 </div>
                                  <div class="form-group">
                                    <label for="inputVoterid">Order Total Price</label>
                                    <!--<input class="form-control"   id="inputFirstName" placeholder="First Name" type="text" disabled>-->
                                    <input class="form-control" name="totalOrderPrice" id="inputVoterid" placeholder="Voter Id" type="tel" [(ngModel)]="totalPrice" [disabled]=true >
                                 </div>
                                 </div>
                                 <img [src]="disputeProof1">
                                 <img *ngIf="disputeProof2!=null" [src]="disputeProof2">
                                 <div class="button">
                                 <button class="btn btn-primary btn-with-icon" *ngIf="disputeStatus=='RAISED'" (click)="addPopupOpen('CANCELLED')" type="button">Cancel</button>
                                    <button class="btn btn-primary btn-with-icon" *ngIf="disputeStatus=='RAISED'" (click)="addPopupOpen('INPROCESS')" type="button">Inprogress</button>
                                      <button class="btn btn-primary btn-with-icon" *ngIf="disputeStatus=='RAISED' || disputeStatus=='INPROCESS'" (click)="addPopupOpen('COMPLETED')" type="button">Resolve</button>
                                 </div>

                           </div>
                           <div class="col-md-6">
                              <div class="col-sm-10">

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </p-tabPanel>
            </p-tabView>
         </ba-card>
      </div>
   </div>
</div>

<div bsModal #addPopup="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Are you sure? You want to do {{actionStatus}} this dispute.</h4>
        <button type="button" class="close pull-right" (click)="addPopupClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #changeStatusForm="ngForm" (submit)=changeStatus(changeStatusForm)>
          <div class="form-group">
            <label for="exampleTextarea">Enter Message</label>
            <textarea class="form-control" id="exampleTextarea" rows="3" [(ngModel)]="commentByAdmin" #message="ngModel"
              name="message" required></textarea>
            <span *ngIf="message.invalid && changeStatusForm.submitted">
            <span class="text-danger" *ngIf="message.errors.required">Please enter message</span>
            </span>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn  disaprove" data-dismiss="modal">{{actionStatus}}</button>
            <button type="button" class="btn  cancelButton" data-dismiss="modal" (click)="addPopupClose()">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
