<div class="widgets">
  <ba-card title="Basic Example" baCardClass="with-scroll" class="data-table-container">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <label class="col-sm-12 label-control">Sort by</label>
        </div>
        <div class="row">
          <div class="offset-sm-1 col-sm-5">
            <div class="row">
              <select class="form-control input-sm" [(ngModel)]="sortBy" (ngModelChange)="getPendingKycList()">
                            <option ngValue="user.firstName">Name</option>
                            <option ngValue="user.emailId">Email</option>
                            <option ngValue="uploadedDate">Uploaded On</option>
                        </select>
            </div>
          </div>
          <div class="offset-sm-1 col-sm-5">
            <div class="row">
              <select class="form-control input-sm" [(ngModel)]="sortOrder" (ngModelChange)="getPendingKycList()">
                            <option ngValue="asc">Ascending</option>
                            <option ngValue="desc">Descending</option>
                        </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"></div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="7">
              <h6 class="text-center"> Filter By Name</h6>
              <input class="form-control" [(ngModel)]="searchData" (ngModelChange)="getPendingKycList()" />
            </th>
          </tr>
        
          <tr *ngIf="totalElements!=0">
            <th style="width: 10%"></th>
            <th style="width: 20%">Name</th>
            <th style="width: 30%">Email</th>
            <th style="width: 10%">Status</th>
            <th style="width: 10%">Document Type</th>
            <th style="width: 20%">Uploaded On</th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let item of data | paginate: { itemsPerPage: pageSize,
                                                     currentPage: currentPage,
                                                     totalItems: totalElements }">
            <td>
              <button (click)="navigaeToKycDeatils(item.user.userId)" class="btn btn-danger">Kyc</button>
            </td>

              <td>{{item.user.firstName}}{{item.user.middleName}}{{item.user.lastName}}</td>
            <td>{{item.user.emailId}}</td>
            <td>{{item.documentStatus}}</td>
            <td>{{item.documentType}}</td>
            <td>{{item.uploadedDate | date}}</td>
          </tr>
            <div class="no_kyc" *ngIf="totalElements==0"  >No New Pending Kyc!</div>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <div class="pull-right show-entry-txt">Showing {{start}} to {{end}} of {{totalElements}} entries</div>
              <pagination-controls (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Vishal" screenReaderPageLabel="Kumar" screenReaderCurrentLabel="Rajput"></pagination-controls>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </ba-card>
</div>
