<div class="container">
  <div class="row">
    <form #withdrawForm=ngForm (submit)="setMinWithdrawLimit(withdrawForm)">
      <div class="col-sm-9 margin-input">
        <select [(ngModel)]="currency" name="setPairTo" (ngModelChange)="changeCurrency(currency)">
      <option *ngFor="let toValue of currencyList" [value]="toValue.currencyId">{{toValue.currencyName}}</option>
     </select>
      </div>
      <div class="col-sm-9 margin-input">
        <input type="text" name="minWithDrawAmount" #minWithDrawAmount="ngModel" class="form-control input-text" id="bitCoin" [(ngModel)]="withdraw.minWithDrawAmount" required>
      </div>
      <div *ngIf="minWithDrawAmount.invalid && withdrawForm.submitted">
        <div *ngIf="minWithDrawAmount.errors.required">
          <p>Please Enter Min Withdraw Limit.</p>
        </div>
      </div>
      <div class="col-sm-12 text-center">
        <button class="btn text-uppercase setFees-buton" type="submit" name="setFees">Set min withdraw amount</button>
      </div>
    </form>
  </div>
</div>
