<div class="widgets">
  <div class="row">
    <div class="col-md-12 UserDetail">
      <ba-card cardTitle="Add New Erc 20 Token">
      <p-tabView>
        <p-tabPanel header="Add New Erc 20 Token" style="padding:0px;">
          <div class="tab-inner">
            <div class="tab-inner1">
              <form #newErcToken="ngForm" (submit)=addErcToken(newErcToken) >
                <div class="row">
                  <div class="col-md-12 actionBtn allFormField">
                    <div class="row">
                      <div class="col-md-5 level-padding">
                        <div class="form-group">
                          <label for="email">Token Name </label>
                        </div>
                      </div>
                      <div class="col-md-7 text-left">
                        <input type="text" class="form-control drop-down-padding" [(ngModel)]="currency.currencyName" name="tokenName" #tokenName="ngModel" required >
                        <div *ngIf="tokenName.invalid && (tokenName.dirty || tokenName.touched || newErcToken.submitted )" class="error-msg">
                          <div *ngIf="tokenName.errors.required">
                            <p class="ercTokenError" >Please Enter Token Name .</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5  level-padding">
                        <div class="form-group">
                          <label for="email"> Symbol</label>
                        </div>
                      </div>
                      <div class="col-md-7 text-left">
                        <input type="text" class="form-control drop-down-padding" [(ngModel)]="currency.currencyAbbreviation" name="tokenSymbol" #tokenSymbol="ngModel" required>
                        <div *ngIf="tokenSymbol.invalid && (tokenSymbol.dirty || tokenSymbol.touched || newErcToken.submitted )" class="error-msg">
                          <div *ngIf="tokenSymbol.errors.required">
                            <p  class="ercTokenError" >Please Enter Currency Symbol.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5  level-padding">
                        <div class="form-group">
                          <label for="email">Contract Address </label>
                        </div>
                      </div>
                      <div class="col-md-7 text-left">
                        <input type="text" class="form-control drop-down-padding" [(ngModel)]="ercToken.contractAddress" name="contractAddress" #contractAddress="ngModel" required>
                        <div *ngIf="contractAddress.invalid && (contractAddress.dirty || contractAddress.touched || newErcToken.submitted )" class="error-msg">
                          <div *ngIf="contractAddress.errors.required">
                            <p class="ercTokenError" >Please Enter Contract Address.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5  level-padding">
                        <div class="form-group">
                          <label for="email">Wallet Address </label>
                        </div>
                      </div>
                      <div class="col-md-7 text-left">
                        <input type="text" class="form-control drop-down-padding" placeholder="Optional" [(ngModel)]="ercToken.walletAddress" name="walletAddress" #walletAddress="ngModel">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-7 offset-md-5">
                        <button type="submit" class="btn btn-danger">Add</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
      </ba-card>
    </div>
  </div>
</div>