<div class="widgets">
  <div class="row">
    <div class="col-md-12 UserDetail">
      <ba-card cardTitle="Order Details">
        <p-tabView>
          <p-tabPanel header="kyc Details" style="padding:0px;">
            <div class="tab-inner">
              <div class="tab-inner1">
                <div class="row" *ngIf="kycListLength==0">
                  <div class="col-md-12">
                    <p>Kyc not uploaded yet!</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="row" *ngIf="kycListLength!=0">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="col-sm-10">
                              <div class="col-md-12" style="height: 300px;width: 300px;">
                                <img *ngIf="!doc0Pdf" class="img_cursor"  [src]="document0" [imageZoom]="document0" [style.width.px]="300" [style.height.px]="300" />
                                <img *ngIf="doc0Pdf" class="pdfDetails" title="Click to open " src="assets/images/pdf-icon.png"  (click)="openPdf0()" />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="col-sm-10 document-col">
                              <div class="form-group">
                                <label for="inputFirstName">Document Status</label>
                                <input class="form-control" id="inputFirstName" placeholder="Document Status" type="text" [(ngModel)]="document0Status" disabled>
                                <!-- <input class="form-control" *ngIf="isEdit" id="inputFirstName" placeholder="First Name" type="text" > -->
                              </div>
                              <div class="form-group">
                                <label for="inputMobileName">Document Type</label>
                                <input class="form-control" id="inputMobileName" placeholder="Name of Identity" type="text" [(ngModel)]="document0Type" disabled>
                                <!-- <input class="form-control" *ngIf="isEdit" id="inputMobileName" placeholder="Mobile Name" type="text" > -->
                              </div>
                            </div>
                            <div class="col-md-6 actionBtn text-right">
                              <button class="btn btn-primary btn-with-iconss" *ngIf="!document0VerificationStatus || document0Status=='SUBMITTED'" type="button"
                                (click)="approve0Kyc()">Approve</button>
                              <button class="btn btn-primary btn-with-iconss" *ngIf="document0VerificationStatus || document0Status=='SUBMITTED'" type="button"
                                (click)="addPopupOpen(document0Type)">DisApprove</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row " *ngIf="kycListLength!=0">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="col-sm-10">
                              <div class="col-md-12" style="height: 300px;width: 300px;">
                                <img *ngIf="!doc1Pdf" class="img_cursor"  [src]="document1" [imageZoom]="document1" [style.width.px]="300" [style.height.px]="300" />
                                <img *ngIf="doc1Pdf" class="pdfDetails" src="assets/images/pdf-icon.png"  (click)="openPdf1()" />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="col-sm-10 document-col">
                              <div class="form-group">
                                <label for="inputFirstName">Document Status</label>
                                <input class="form-control" id="inputFirstName" placeholder="Document Status" type="text" [(ngModel)]="document1Status" disabled>
                                <!-- <input class="form-control" *ngIf="isEdit" id="inputFirstName" placeholder="First Name" type="text" > -->
                              </div>
                              <div class="form-group">
                                <label for="inputMobileName">Document Type</label>
                                <input class="form-control" id="inputMobileName" placeholder="Name of Identity" type="text" [(ngModel)]="document1Type" disabled>
                                <!-- <input class="form-control" *ngIf="isEdit" id="inputMobileName" placeholder="Mobile Name" type="text" > -->
                              </div>
                            </div>
                            <div class="col-md-6 actionBtn text-right">
                              <button class="btn btn-primary btn-with-iconss" *ngIf="!document1VerificationStatus || document1Status=='SUBMITTED'" type="button"
                                (click)="approve1Kyc()">Approve</button>
                              <button class="btn btn-primary btn-with-iconss" *ngIf="document1VerificationStatus || document1Status=='SUBMITTED'" type="button"
                                (click)="addPopupOpen(document1Type)">DisApprove</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </ba-card>
    </div>
  </div>
</div>
<div bsModal #addPopup="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Are you sure? You want to disapprove this kyc.</h4>
        <button type="button" class="close pull-right" (click)="addPopupClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #disApproveKycForm="ngForm" (submit)=disApproveKyc(disApproveKycForm)>
          <div class="form-group">
            <label for="exampleTextarea">Enter Rejection Message</label>
            <textarea class="form-control" id="exampleTextarea" rows="3" [(ngModel)]="kycDisapprove.rejectionMessage" #rejectionMessage="ngModel"
              name="rejectionMessage" required></textarea>
            <span *ngIf="rejectionMessage.invalid && disApproveKycForm.submitted">
            <span class="text-danger" *ngIf="rejectionMessage.errors.required">Please enter rejection message</span>
            </span>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default" data-dismiss="modal">Disapprove</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="addPopupClose()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
