.UserDetail .ui-tabview.ui-tabview-top>.ui-tabview-nav{
    padding: 0px;
}
.UserDetail .tab-inner{
    padding: 12px 12px;
    border: 1px solid #ccc;
    margin: -14px -12px;
    background: #f6f7f9;
}
.UserDetail .ui-tabview .ui-tabview-panel{
    padding:0px;
}
 .ui-tabview-panel{
    display: block;
    border: 1px solid #ccc;
    margin: 0px 2px;
}
.tab-inner1{
    border: 1px solid #ccc;
    padding: 26px 10px;
    background: #fff;
    
}

.balance-details-dropdown{
    margin-bottom: 20px;
}

.margin-top{
    margin-top: 30px;
}

.marginButton{
    margin-top: 20px;
}

.input_margin {
    margin-top: 5px;
}


.button-property{
          background: #f95372;
    border-color: #f95372;
    color: #fff;
    cursor: pointer;
}

.input-pro{
    width: 234px;
    padding: 6px;
}

.drop-down{
        width: 27%;
    padding: 7px;
    outline: none;
}

.margin-dropdown-buttom{
    margin-bottom: 5px;
}


.margin-form{
    margin-bottom: 15px;
}

.input-padding{
    width: 44%;
    padding: 7px;
    outline: none;
}

.padding-level{
    padding-top: 7px
}

.error-message-font{
    color: red;
    margin-top: 5px;

}