<div class="widgets">
  <div class="row">
    <div class="col-md-12 UserDetail">
      <ba-card cardTitle="Available Total Balance">
        <p-tabView>
          <p-tabPanel header="Available Total Balance" style="padding:0px;">
            <div class="tab-inner">
              <div class="tab-inner1">
                <section>
                <div class="row">
                  <div class="col-sm-12 text-center ">

                     <p>Available Balance ( BTC ): <input  type="text"  name="totalBtc" [disabled]></p>
                     <p>Available Balance ( ETH ): <input  type="text" name="totalEth" [disabled]></p>
                     </div>
                 </div>
                </section>


                <section>  
                  <!-- for withdraw btc   -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-6 text-right">
                            <button class="" type="submit" name="withDrawBtc" (click)="btcWithdraw()">Withdraw BTC</button>
                          </div>
                           <div class="col-sm-6 text-left">
                            <button class="" type="submit" name="withDrawBtc" (click)="ethWithdraw()">Withdraw ETH</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

             <section *ngIf="hasBTC">
                    <!-- for withdraw btc  -->
                    <div class="row">
                      <div class="col-sm-12 margin-top">
                     <div class="row input_margin">
                        <div class="col-sm-6 text-right">
                          BTC Address : 
                          </div>
                        <div class="col-sm-6 text-left">
                          <input type="text" name="btcAddress" class="input-sm" >
                          </div>
                        </div>
                         <div class="row input_margin">
                        <div class="col-sm-6 text-right">
                          Amount : 
                          </div>
                        <div class="col-sm-6 text-left">
                         <input type="text" name="btcAddress" class="input-sm">
                          </div>
                        <div class="col-sm-12 text-center marginButton">
                          <button type="submit" name="withdraw" >Withdraw</button>
                        </div>
                      </div>
                    </div>
                    </div>
                  </section>

                             <section *ngIf="hasETH">
                    <!-- for withdraw  eth -->
                    <div class="row">
                      <div class="col-sm-12 margin-top">
                     <div class="row input_margin">
                        <div class="col-sm-6 text-right">
                          ETH Address : 
                          </div>
                        <div class="col-sm-6 text-left">
                          <input type="text" name="ethAddress" class="input-sm" >
                          </div>
                        </div>
                         <div class="row input_margin">
                        <div class="col-sm-6 text-right">
                          Amount : 
                          </div>
                        <div class="col-sm-6 text-left">
                         <input type="text" name="ethAddress" class="input-sm" >
                          </div>
                        <div class="col-sm-12 text-center marginButton">
                          <button type="submit" name="withdraw" >Withdraw</button>
                        </div>
                      </div>
                    </div>
                    </div>
                  </section>
                  





            
                </section>

               
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </ba-card>
    </div>
  </div>
</div>
