.UserDetail .ui-tabview.ui-tabview-top>.ui-tabview-nav {
    padding: 0px;
}

.UserDetail .tab-inner {
    padding: 12px 12px;
    border: 1px solid #ccc;
    margin: -14px -12px;
    background: #f6f7f9;
}

.UserDetail .ui-tabview .ui-tabview-panel {
    padding: 0px;
}

.ui-tabview-panel {
    display: block;
    border: 1px solid #ccc;
    margin: 0px 2px;
}

.tab-inner1 {
    border: 1px solid #ccc;
    padding: 26px 10px;
    background: #fff;
}

.balance-details-dropdown {
    margin-bottom: 20px;
}

.qc-code-address{
    width: 36%;
    line-height: 36px;
    border-radius: 4px;
    outline: 0;
    border: 0;
    padding-left: 12px;
    background-color: #f0f3f4;
}

.copy-button{
    background-color: #00abff;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    font-size: 13px;
    border-radius: 7px;
}

.deposit-balance-one{
       padding-left: 34px;
}
.deposit-balance-two{
    padding-right: 128px;
}

.available-margin{
    margin-top: 7px;
}

.available-balance-one{
       padding-left: 33px;

}
.available-balance-two{
        padding-right: 19px;
}

.available-balance-three{
    padding-left: 23px;
}
   
.margin-address{
    margin-left: 35px;
}

.copied-text{
    color: #DB2828;
    font-size: 12px;
    padding-right: 59px;
}
.copied{
        margin-left: 15px;
}


.margin-top {
    margin-top: 30px;
}

.marginButton {
    margin-top: 20px;
}

.input_margin {
    margin-top: 5px;
}

.button-property {
    background: #DB2828;
    border-color: #DB2828;
    color: #fff;
    cursor: pointer;
}

.input-pro {
    width: 234px;
    padding: 6px;
}

.drop-down {
    width: 27%;
    padding: 7px;
    outline: none;
}

.margin-dropdown-buttom {
    margin-bottom: 5px;
}

.margin-form {
    margin-bottom: 10px;
}

.input-padding {
    width: 43%;
    padding: 7px;
    outline: none;
}

.padding-level {
    padding-top: 7px
}

.error-message-font {
    color: #DB2828;
    margin-top: 5px;
}

.input-div-padding {
    padding-left: 35px;
}

.total-balance {
    color: #DB2828;
}

.spiner-position {
    position: absolute;
    top: 42%;
    left: 49%;
}

.loader {
    border: 5px solid #DB2828;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #e3d8d8;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    z-index: 8;
}

.spiner-position-two {
    position: absolute;
    top: 42%;
    left: 49%;
}

.loader-two {
    border: 5px solid #DB2828;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #e3d8d8;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    z-index: 8;
}